{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <style>
        li {
            margin-left: 1%
        }
        body {
            margin-left: 1%
        }
    </style>
</head>
<body>
    <div>
        <h1><a herf="/">Resume</a></h1>
    </div>
    <div>
        <h3>나의 인적사항</h3>
        <li> 이름 : 조익현</li>
        <li> 생년월일 : 1994년 12월 18일</li>
        <li> 사는 곳: 대구광역시 북구 검단로~~~~~</li>
        <li> git 주소 : <a href="jih3508@github.com">jih3508@github.com</a></li>
        <li class="date"> 이메일 : whdlrgus32@naver.com </li>
        <h4>자기 소개</h4>
        <p> 처음에는 아무런 생각이 없었는데 웹 개발이나 딥러닝 임베디드 개발 하다보니 내가 어떤 프로그램에 다 영향을 줄 수 있는 개발자가 되자는
            생각으로 백엔드 개발자로 진로를 잡았습니다.</p>
    </div>
    <hr>
    <div>
        <h3>학력</h3>
        <h4>고등학교</h4>
        <li>학교 명: 성광고등학교</li>
        <li>소재지: 대구</li>
        <li>인문계 이과</li>
        <li>2010.03 ~ 2013.02</li>
        <h4>대학교</h4>
        <li>학교 명: 대구가톨릭대학교</li>
        <li>소재시: 경북</li>
        <li>전공: 정보통신융합전공</li>
        <li>2013.03 ~ 2020.08</li>
    </div>
    <hr>
    <div>
        <h3>활동 이력</h3>
        <h4>머신러닝 기반의 빅데이터 실무 교육</h4>
        <li>기간: 2018.08~2018.12</li>
        <li>내용: R, Python, Java ,Linux ,Hadoop, 전자정부프레임워크, 팀프로젝트 </li>
        <li>팀 프로젝트 기술스택: JSP, Spring, Java, Oracle, SVN</li>
        <h4>인턴</h4>
        <li>회사명: (주)디월드</li>
        <li>기간: 2020.10~2021.01</li>
        <li>내용: 딥러닝 활용한 CCTV 차량 검출, 컴퓨터비전 사전과제</li>
        <li>기술 스택: C#, Python, Pytorch, PyQt5, OpenCV, Winform</li>
    </div>
    <hr>
    <div>
        <h3>자격증 및 수상경력</h3>
        <li>정보처리기사</li>
        <li>Opic IL</li>
        <li>창의력 경진대회 대상</li>
    </div>
    <hr>
    <div>
        <h3>포트폴리오</h3>
        <h4><a href="#">웹 프로젝트 쉼표</a></h4>
        <li>내용: 국내 관광지 웹 사이트 개발</li>
        <li>기술 스택: JSP, Spring, JAVA, Html, CSS,Jquery, SVN</li>
        <li>git : <a href="https://github.com/jih3508/Webproject_Rest">https://github.com/jih3508/Webproject_Rest</a></li>
        <h4><a href="#">자동침입 경보 방지</a></h4>
        <li>내용: 주거 침입이나 허가되지 않은 사람이 들어 왔을때 경보기 울리고 휴대폰 알림음 울리기</li>
        <li>기술 스택: Aduino </li>
        <li>센서: 초음파, LCD, OLED, 부저 센서, 블루 투스, 자이로센서</li>
        <li>git : <a href="https://github.com/jih3508/Single_Project/tree/master/%EC%95%84%EB%91%90%EC%9D%B4%EB%85%B8">https://github.com/jih3508/Single_Project/</a></li>
        <h4><a href="#">인턴 사전과제</a></h4>
        <li>내용: 머신비전을 활용한 이미지 객체 검사 프로그램 만들기</li>
        <li>기술 스택: Python, PyQt5, Opencv</li>
        <li>git : <a href="https://github.com/jih3508/Single_Project/tree/master/%EB%94%94%EC%9B%94%EB%93%9C%20%EC%9D%B8%ED%84%B4">https://github.com/jih3508/Single_Project/</a></li>
        <h4><a href="#">딥러닝 기반 CCTV 차량 검출</a></h4>
        <li>내용: CCTV애서 차를 인식하여 차에 대한 정보(차 모델, 지나간 시간, 프레임 번호, 차 번호) 제공해주는 프로그램 개발</li>
        <li>기술 스택: Python, PyQt5, Opencv, Pytorch</li>
    </div>

</body>
</html>